// @import './style.scss';

* {
  margin: 0;
}
.content{
  margin: 15px;
}
.row {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.col-4{
  margin: 15px;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  text-transform: uppercase;
}

.color{
  &--turquoise{
    background: turquoise;
    cursor: pointer;
  }
  &--pink{
    background: pink;
    cursor: progress;
  }
  &--beige{
    background: beige;
    cursor: ns-resize;
  }
}